<form #editForm="ngForm">
  <cranix-toolbar title="{{ 'Modify selected institute:' | translate}} {{object.name}}"></cranix-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="details">
      <ion-segment-button value="details">
        <ion-label>{{'Details' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="manager">
        <ion-label>{{'Manager' | translate}}</ion-label>
      </ion-segment-button>
      @if(authService.isAllowed('customer.manage')){
      <ion-segment-button value="dyndns">
        <ion-label>{{'dynDNS' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contract">
        <ion-label>{{'Contract' | translate}}</ion-label>
      </ion-segment-button>
      }
    </ion-segment>
    @if(!authService.isMD()){
    <ion-buttons slot="end">
      <ion-button size="small" fill="solid" fill="clear" (click)="togleShowPasswords()"
        matTooltip="{{'Toggle show the passwords' | translate }}">
        <ion-icon slot="icon-only" name="eye-off"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" class="ion-no-margin" [disabled]="!editForm.valid"
        matTooltip="{{'Apply changes' | translate }}" (click)="onSubmit(editForm.value)">
        <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" (click)="setNextDefaults()"
        matTooltip="{{'Set the next default values' | translate }}">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" (click)="writeConfig()"
        matTooltip="{{'Write configuration and create installation image' | translate }}">
        <ion-icon slot="icon-only" name="server"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" href="/isos/{{isourl}}.iso"
        matTooltip="{{'Download the installation image' | translate }}">
        <ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" href="/configs/{{isourl}}full-connect.sh"
        matTooltip="{{'Download the setup script' | translate }}">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" (click)="delete($event)"
        matTooltip="{{'Delete institute' | translate }}">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
  <ion-content fullscreen>
    @if(authService.isMD()){
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button size="small">
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button (click)="togleShowPasswords()" matTooltip="{{'Toggle show the passwords' | translate }}">
          <ion-icon name="eye-off"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="onSubmit(editForm.value)">
          <ion-icon color="success" name="checkmark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="setNextDefaults()">
          <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="writeConfig()">
          <ion-icon name="server"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="/configs/{{isourl}}full-connect.sh">
          <ion-icon name="download"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="delete($event)">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    }
    @switch(segment) {
    @case('details') {
    <ion-grid>
      <ion-row>
        <ion-col size=12 sizeMd=6 sizeLg=4 sizeXl=3 *ngFor="let key of objectKeys;">

          <ion-item>
            <ion-label [position]="authService.settings.labelPlacement">{{ key | translate }}</ion-label>
            @switch(objectService.typeOf(key,object,'edit')){
            @case('string'){
            @if(objectService.selects[key]){
            <ion-select type="text" [(ngModel)]="object[key]" name="{{key}}" [compareWith]="objectService.compareFn"
              [required]="objectService.required[key]">
              @for(option of objectService.selects[key]; track option){
              <ion-select-option value="{{option}}">{{option | translate}}</ion-select-option>
              }
            </ion-select>
            }@else{
            <ion-input type="text" [(ngModel)]="object[key]" name="{{key}}" value="{{object[key]}}"
              [required]="objectService.required[key]"></ion-input>
            }
            }
            @case('stringRO'){
            <ion-input [labelPlacement]="authService.settings.labelPlacement" label="{{ key | translate }}"
              color="tertiary" type="text" [(ngModel)]="object[key]" name="{{key}}" value="{{object[key]}}" readonly>
            </ion-input>
            }
            @case('date'){
            <input [(ngModel)]="object[key]" name="{{key}}" type="date">
            }
            @case('number'){
            <input [(ngModel)]="object[key]" name="{{key}}" type="number">
            }
            @case('numberRO'){
            <input [(ngModel)]="object[key]" name="{{key}}" type="number" readonly>
            }
            }
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    }
    @case('manager'){
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-label>{{user.fullName}} </ion-label>
        <ion-checkbox slot="end" (ionChange)="managerChanged(user.id)" [checked]="managers[user.id]"></ion-checkbox>
      </ion-item>
    </ion-list>
    }
    @case('dyndns'){
    <ion-list>
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ 'Actuall IP' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="dynDnsIp" name="dynDnsIp" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ 'Name' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="dynDnsName" name="dynDnsName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ 'Domain' | translate}}</ion-label>
        <ion-select [(ngModel)]="dynDnsDomain" [compareWith]="objectService.compareFn" name="dynDnsDomain">
          <ion-select-option *ngFor="let domain of systemService.dnsDomains" [value]="domain">
            {{domain}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ 'Port' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="dynDnsPort" name="dynDnsPort"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [position]="authService.settings.labelPlacement">{{ 'Must not change' | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="dynDnsRo" name="dynDnsRo"></ion-checkbox>
      </ion-item>
    </ion-list>
    }
    @case('contract'){
    <ion-list>
      <ion-item>
        <ion-select [labelPlacement]="authService.settings.labelPlacement" label="{{ 'description' | translate}}" [(ngModel)]="care.description"
          name="careDescription">
          <ion-select-option *ngFor="let contract of myContracts" [value]="contract">{{ contract | translate
            }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [labelPlacement]="authService.settings.labelPlacement" label="{{ 'access' | translate}}" type="text" [(ngModel)]="care.access"
          name="careAccess"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [labelPlacement]="authService.settings.labelPlacement" label="{{ 'contact' | translate}}" type="text" [(ngModel)]="care.contact"
          name="careContact"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [labelPlacement]="authService.settings.labelPlacement" label="{{ 'AddOns' | translate}}" [(ngModel)]="addons" name="addons"
          multiple="true" [compareWith]="compareAddons" (ionChange)="addonChanged()">
          <ion-select-option *ngFor="let addon of allAddons" [value]="addon">{{ addon.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label [position]="authService.settings.labelPlacement">{{'customer'| translate}}</ion-label>
      <cranix-search objectType="customer" [(ngModel)]="myCustomer" name="selectedCustomer"
        [items]="objectService.allObjects['customer']" emptyLabel="{{'Select a customer' | translate}}"></cranix-search>
    </ion-item>
    }
    }
  </ion-content>
</form>
