<cranix-toolbar title="{{'Define synchronisation of objects for the selected institutes' | translate}}">
</cranix-toolbar>
@if(objectService.selectedObjects.length == 0){
<ion-title>
  {{'You have to select some institutes to be able to use this site.'}}
</ion-title>
}@else{
<ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="user">
  @for( seg of objectsToSync; track seg){
  <ion-segment-button [value]="seg">
    <ion-label>{{ seg | translate}}</ion-label>
  </ion-segment-button>
  }
</ion-segment>
<ion-content>
  <ion-toolbar class="page-toolbar">
    <ion-buttons slot="end">
      <ion-button size="small" (click)="startSync($event)"
        matTooltip="{{'Start  synchronisation of selected objects to the selected institutes.' | translate }} {{ cephalixService.selectedList }}">
        <ion-icon slot="icon-only" color="success" name="code-working"></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="stopSync($event)"
        matTooltip="{{'Stop  synchronisation of selected objects to the selected institutes.' | translate }}  {{ cephalixService.selectedList }}">
        <ion-icon slot="icon-only" color="danger" name="code-working"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  @if(memberData[segment]){
  <cranix-search-list objectType="synchronizedobject" [items]="memberData[segment]" [(ngModel)]="selectedObjects"
    [itemTextField]="['objectName']" [multiple]="true"></cranix-search-list>
  }
</ion-content>
}