<cranix-toolbar *ngIf="!selectedStatus" title="{{'Status of the institutes' | translate}}"></cranix-toolbar>
<ion-content color="light">
  @if(!authService.isMD()){
  <cranix-list objectType="institutestatus" [rowData]="rowData" [context]="context"></cranix-list>
  }@else{
  <ion-list>
    @for(obj of rowData; track obj.id){
    <ion-item button (click)="showStatus(obj)">
      <ion-label>
        <h3>{{ obj.cephalixInstituteId | idToName:'institute' }}</h3>
      </ion-label>
      <ion-badge [color]="obj.availableUpdates == '' ? 'success' : 'danger'">
        {{obj.availableUpdates.split(' ').length -1}}</ion-badge>
      <ion-icon size="small" name="stats-chart" [color]="errorStatus(obj)"></ion-icon>
      <ion-icon size="small" name="save" [color]="fsStatus(obj)"></ion-icon>
      <ion-icon size="small" name="alarm" [color]="connectStatus(obj)"></ion-icon>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>

<ion-modal [isOpen]="isStatusModalOpen" #statusModal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-label>{{ selectedStatus.cephalixInstituteId | idToName:'institute' }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="redirectToEdit(selectedStatus)">
            <ion-icon name="build"></ion-icon>
          </ion-button>
          <ion-button (click)="closeStatusModal(statusModal)">
            <ion-icon name="close" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">{{ 'errorMessages' | translate }}</ion-label>
          <ion-label [color]="errorStatus(selectedStatus)">{{ selectedStatus.errorMessages }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'version' | translate }}</ion-label>
          <ion-label>{{ selectedStatus.version }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'rootUsage' | translate }}</ion-label>
          <ion-label [color]="fileSystemError(selectedStatus.rootUsage) ? 'danger' : 'success'">
            {{ selectedStatus.rootUsage }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'homeUsage' | translate }}</ion-label>
          <ion-label [color]="fileSystemError(selectedStatus.homeUsage) ? 'danger' : 'success'">
            {{ selectedStatus.homeUsage }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'varUsage' | translate }}</ion-label>
          <ion-label [color]="fileSystemError(selectedStatus.varUsage) ? 'danger' : 'success'">
            {{ selectedStatus.varUsage }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'srvUsage' | translate }}</ion-label>
          <ion-label [color]="fileSystemError(selectedStatus.srvUsage) ? 'danger' : 'success'">
            {{ selectedStatus.srvUsage }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'created' | translate }}</ion-label>
          <ion-label [color]="connectStatus(selectedStatus)">
            {{ selectedStatus.created | date:'yyyy-MM-dd HH:mm:ss' }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'availableUpdates' | translate }}</ion-label>
          @if(selectedStatus.availableUpdates == ''){
          <ion-label>
            {{ 'No updates' | translate }}
          </ion-label>
          <ion-label>{{ selectedStatus.availableUpdates }}</ion-label>
          }@else{
          <ion-button fill="clear"
            (click)="redirectToUpdate(selectedStatus.cephalixInstituteId)">
            <ion-badge color="danger">
              {{selectedStatus.availableUpdates.split(' ').length -1 }}
            </ion-badge>
          </ion-button>
          }
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'lastUpdate' | translate }}</ion-label>
          <ion-label>{{ selectedStatus.lastUpdate | date:'yyyy-MM-dd HH:mm:ss' }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>