<cranix-toolbar title="{{ 'Manage system acls for groups and users' | translate}}"></cranix-toolbar>
<ion-content id="carded">
  <ion-toolbar class="page-toolbar">
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="groups">
      <ion-segment-button value="groups">
        <ion-label>{{'Groups' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Settings">
        <ion-label>{{'Users' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  @if(segment=='groups'){
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-input type="text" placeholder="{{'search' | translate }}" (input)="groupFilterChanged()"
        id="groupFilter"></ion-input>
    </ion-list-header>
    <div class="button-container">
      @for(o of groupsData; track o.id){
      <button (click)="manageAcls('group',o)">{{o.name}} {{o.description}}</button>
      }
    </div>
  </ion-list>
  }@else{
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-input type="text" placeholder="{{'search' | translate }}" (input)="userFilterChanged()"
        id="userFilter"></ion-input>
    </ion-list-header>
    <div class="button-container">
      @for(o of usersData; track o.id){
      <button (click)="manageAcls('user',o)">{{o.fullName}}</button>
      }
    </div>
  </ion-list>
  }
</ion-content>