<cranix-toolbar title="{{ 'Manage system acls for groups and users' | translate}}"></cranix-toolbar>
<ion-content id="carded">
  @if(authService.isMD()){
  <ion-accordion-group>
    <ion-accordion value="groups">
      <ion-item slot="header" color="light">
        <ion-label>{{'Groups'|translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="{{'search' | translate }}" (input)="groupFilterChanged()"
              id="groupFilter"></ion-input>
          </ion-item>
          @for(o of groupsData; track o.id){
          <ion-item button detail lines="full" (click)="manageAcls('group',o)">
            {{o.name}} {{o.description}}
          </ion-item>
          }
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="users">
      <ion-item slot="header" color="light">
        <ion-label>{{'User'|translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="{{'search' | translate }}" (input)="userFilterChanged()"
              id="userFilter"></ion-input>
          </ion-item>
          @for(o of usersData; track o.id){
          <ion-item button detail lines="full" (click)="manageAcls('user',o)">
            {{o.fullName}}
          </ion-item>
          }
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  }@else{
  <ion-grid>
    <ion-row>
      <ion-col size=12 sizeMd=12 sizeLg=6 sizeXl=6>
        <ion-title matTooltip="{{'Click on a group to edit acls.'|translate}}">
          {{ 'groups' | translate }}</ion-title>
        <ion-item>
          <ion-input type="text" placeholder="{{'search' | translate }}" (input)="groupFilterChanged()"
            id="groupFilter"></ion-input>
        </ion-item>
        <ag-grid-angular [context]="context" style="width: 100%; height: 100%;"
          class="{{authService.settings.agGridThema}}" [rowHeight]="authService.settings.rowHeight"
          [rowData]="groupsData" [columnDefs]="groupColumnDefs" [defaultColDef]="defaultColDef"
          (gridReady)="groupsReady($event)" id="groupsTable">
        </ag-grid-angular>
      </ion-col>
      <ion-col size=12 sizeMd=12 sizeLg=6 sizeXl=6>
        <ion-title matTooltip="{{'Click on a group to edit acls.'|translate}}">
          {{ 'users' | translate }}</ion-title>
        <ion-item>
          <ion-input type="text" placeholder="{{'search' | translate }}" (input)="userFilterChanged()" id="userFilter">
          </ion-input>
        </ion-item>
        <ag-grid-angular [context]="context" style="width: 100%; height: 100%;"
          class="{{authService.settings.agGridThema}}" [rowHeight]="authService.settings.rowHeight"
          [rowData]="usersData" [columnDefs]="userColumnDefs" [defaultColDef]="defaultColDef"
          (gridReady)="usersReady($event)" id="usersTable">
        </ag-grid-angular>
      </ion-col>
    </ion-row>
  </ion-grid>
  }
</ion-content>