<form #addRule="ngForm" (ngSubmit)="addRemoteRule()">
  <ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title>{{  'Add remote access firewall rule' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button type="submit" class="ion-no-margin" [disabled]="!addRule.valid">
          <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="modalCtrl.dismiss()">
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list lines="full">
      <ion-item>
        <ion-label position="authService.settings.labelPlacement">{{'external port'| translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="rule.ext" name="ext" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="authService.settings.labelPlacement">{{'device'| translate}}</ion-label>
        <cranix-search objectType="device" [(ngModel)]="selectedDevice" name="selectDevice"></cranix-search>
      </ion-item>
      <ion-item>
        <ion-label position="authService.settings.labelPlacement">{{'internal port'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="rule.port" name="port" required></ion-input>
      </ion-item>
    </ion-list>
  </ion-content>
</form>
