<cranix-toolbar title="{{'Manage users' | translate}}"></cranix-toolbar>
<ion-toolbar *ngIf="!authService.isMD()" class="page-toolbar">
  <ion-item lines="none">
    <ion-label *ngIf="gridApi">
      #{{gridApi.getDisplayedRowCount()}}
    </ion-label>
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('usersFilter')" id="usersFilter">
    </ion-input>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
      matTooltip="{{'Create a new user' | translate }}">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openActions($event,null)"
      matTooltip="{{'Apply actions on the selected objects' | translate }}">
      <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openCollums($event)"
      matTooltip="{{'Select the columns to show' | translate }}">
      <ion-icon slot="icon-only" name="apps"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="!authService.isMD()">
  <ag-grid-angular style="width: 100%; height: 100%;" class="{{authService.settings.agGridThema}}"
    rowSelection="multiple" [rowHeight]="authService.settings.rowHeight"
    [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick"
    [rowData]="objectService.allObjects['user']" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
    [context]="context" (gridReady)="onGridReady($event)" (selectionChanged)="selectionChanged()" id="agGridTable">
  </ag-grid-angular>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <cranix-md-list objectType="user" [context]="context"></cranix-md-list>
</ion-content>
<ion-modal #addEditUserModal [isOpen]="addEditUserOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ addEditTitle | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="addEditUserOpen = false" [disabled]="disable">
            <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="addEditUser()" [disabled]="disable">
            <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngIf="selectedUser.id">
          <ion-label position="stacked">{{'id'|translate}}</ion-label>
          <ion-input [(ngModel)]="selectedUser.id" name="id" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'uid'|translate}}</ion-label>
          <ion-input [(ngModel)]="selectedUser.uid" name="uid" [disabled]="selectedUser.id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'uuid'|translate}}</ion-label>
          <ion-input [(ngModel)]="selectedUser.uuid" name="uuid"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'surName'|translate}}*</ion-label>
          <ion-input [(ngModel)]="selectedUser.surName" name="surName" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'givenName'|translate}}*</ion-label>
          <ion-input [(ngModel)]="selectedUser.givenName" name="givenName" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{'password'|translate}}*</ion-label>
          <ion-input [(ngModel)]="selectedUser.password" name="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{ 'mustChange' | translate }}</ion-label>
          <ion-toggle slot="end" [(ngModel)]="selectedUser.mustChange" name="mustChange" color="secondary" [checked]="defaultMustChange"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> {{'role'|translate}} </ion-label>
          <ion-select [(ngModel)]="selectedUser.role" name="role" [disabled]="selectedUser.id">
            <ion-select-option *ngFor="let role of roles" [value]="role.role">{{role.desc ? role.desc : role.role}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="selectedUser.role == 'students'">
          <ion-label position="stacked"> {{'birthDay'|translate}} </ion-label>
          <input [(ngModel)]="selectedUser.birthDay" name="birthDay" type="date">
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>