<cranix-toolbar title="{{'Manage positive lists'|translate}}"></cranix-toolbar>

<ion-toolbar>
  <ion-item lines="none">
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('mypositivFilter')"
      id="mypositivFilter">
    </ion-input>
  </ion-item>
  <ion-buttons slot="end" class="hidden-xs hidden-sm hidden-md">
    <ion-button size="small" (click)="redirectToAddEdit(null)" matTooltip="{{'Create new positive list.' | translate }}">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button size="small" (click)="activate($event)"
      matTooltip="{{'Activate selected positive lists in the selected room.' | translate }}"
      [disabled]="! educationService.selectedRoom">
      <ion-icon slot="icon-only" color="success" name="power"></ion-icon>
    </ion-button>
    <ion-button size="small" (click)="deactivate($event)"
      matTooltip="{{'Deactivate all positive lists in the selected room.' | translate }}"
      [disabled]="! educationService.selectedRoom">
      <ion-icon slot="icon-only" color="dange" name="power"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content id="carded">
  <ion-fab vertical="center" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="add-circle" (click)="redirectToAddEdit(null)"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon color="success" name="power-outline"
          (click)="activate($event)"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon color="danger" name="power-outline"
          (click)="deactivate($event)"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid style="height: 80vh;">
    <ion-row style="background-color : {{authService.rowColors[2]}}">
      <ion-col size="1"></ion-col>
      <ion-col size="3">
        {{ 'name' | translate}}
      </ion-col>
      <ion-col size="3">
        {{ 'teachingSubject' | translate}}
      </ion-col>
      <ion-col size="4">
        {{ 'description' | translate}}
      </ion-col>
      <ion-col size="1">
        {{ 'domains' | translate}}
      </ion-col>
    </ion-row>
    <div class="button-container">
      @for(plist of rowData; track plist.id; let i = $index){
      <ion-row button (click)="redirectToAddEdit(plist)" style="background-color : {{authService.rowColors[i%2]}}">
        <ion-col size="1">
          <ion-checkbox (click)="toggleSelect(plist)"></ion-checkbox>
        </ion-col>
        <ion-col size="3">
          {{ plist.name }}
        </ion-col>
        <ion-col size="3">
          {{ plist.teachingSubject}}
        </ion-col>
        <ion-col size="5">
          {{ plist.description}}
        </ion-col>
        <ion-col size="1">
          {{ plist.domains.split().length}}
        </ion-col>
      </ion-row>
      }
    </div>
  </ion-grid>
</ion-content>