<cranix-toolbar title="{{'Download VPN' | translate}}"></cranix-toolbar>
@if(supportedOSlist){
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label>
        <h2>{{ 'Select OS' | translate}}</h2>
      </ion-label>
      <ion-select type="text" [(ngModel)]="selectedOS" (ionChange)="log()">
        @for(os of supportedOSlist; track os){
        <ion-select-option value="{{os}}">{{ os | translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="downloadExec()" [disabled]="!selectedOS">
        {{ 'Download Installer' | translate }}
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="downloadConfig()" [disabled]="!selectedOS">
        {{ 'Download config' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
}