<cranix-toolbar title="{{ 'Manage access in the rooms' | translate}}"></cranix-toolbar>
@if(authService.isMD()){
<ion-fab vertical="center" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
  <ion-fab-button size="small">
    <ion-icon name="arrow-forward-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    @if(segment == 'list'){
    <ion-fab-button (click)="redirectToAddEdit(null)" matTooltip="{{'Add new room access status' | translate }}"
      [disabled]="disabled">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
    }@else{
    <ion-fab-button (click)="getActualAccessStatus()" matTooltip="{{'Reload actual firewall status' | translate }}">
      <ion-icon name="refresh" color="tertiary"></ion-icon>
    </ion-fab-button>
    }
    <ion-fab-button (click)="restartFirewall()" matTooltip="{{'Restart firewall' | translate }}">
      <ion-icon name="arrow-redo" color="tertiary"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="stopFirewall()" matTooltip="{{'Stop firewall' | translate }}">
      <ion-icon name="close" color="danger"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
}
<ion-content>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="list">
      <ion-segment-button value="list">
        <ion-label>{{'Room access rules' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="status">
        <ion-label>{{'Actual status' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    @if(!authService.isMD()){
    <ion-buttons slot="end">
      @if(segment == 'list'){
      <ion-button size="small" fill="solid" (click)="redirectToAddEdit(null)"
        matTooltip="{{'Add new room access status' | translate }}" [disabled]="disabled">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      }@else{
      <ion-button size="small" fill="solid" (click)="securityService.getActualAccessStatus()"
        matTooltip="{{'Reload actual firewall status' | translate }}">
        <ion-icon slot="icon-only" name="refresh" color="tertiary"></ion-icon>
      </ion-button>
      }
      <ion-button size="small" (click)="restartFirewall()" size="small" fill="solid"
        matTooltip="{{'Restart firewall' | translate }}">
        <ion-icon slot="icon-only" name="arrow-redo" color="tertiary"></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="stopFirewall()" size="small" fill="solid"
        matTooltip="{{'Stop firewall' | translate }}">
        <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar>
  <ion-item lines="none">
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged()" id="roomsAccessFilter">
    </ion-input>
  </ion-item>

  @if(segment == 'list'){
  <ion-grid style="height: 80vh;">
    <ion-row style="background-color : {{authService.rowColors[2]}}">
      <ion-col size="4">
        {{ 'room' | translate}}
      </ion-col>
      <ion-col size="4">
        {{ 'pointInTime' | translate}}
      </ion-col>
      <ion-col size="4">
        {{ 'accessType' | translate}}
      </ion-col>
    </ion-row>
    <div class="button-container">
      <ion-row *ngFor="let obj of rowData; index as i" button (click)="redirectToAddEdit(obj)"
        style="background-color : {{authService.rowColors[i%2]}}">
        <ion-col size="4">
          {{ obj.roomId | idToName:'room' }}
        </ion-col>
        <ion-col size="4">
          {{ obj.pointInTime }}
        </ion-col>
        <ion-col size="4">
          {{ obj.accessType }}
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  }@else{
  <ion-grid style="height: 85vh;">
    <ion-row style="background-color : {{authService.rowColors[2]}}">
      <ion-col size="2">{{ 'room' | translate}}</ion-col>
      <ion-col size="2">
        @if(authService.isMD()){
        <ion-icon name="log-in"></ion-icon>
        }@else{
        {{'Login'|translate}}
        }
      </ion-col>
      <ion-col size="2">
        @if(authService.isMD()){
        <ion-icon name="mail"></ion-icon>
        }@else{
        {{'portal'|translate}}
        }
      </ion-col>
      <ion-col size="2">
        @if(authService.isMD()){
        <ion-icon name="print"></ion-icon>
        }@else{
        {{'printing'|translate}}
        }
      </ion-col>
      @if(authService.isAllowed('system.proxy')){
      <ion-col size="2">
        @if(authService.isMD()){
        <ion-icon color="warning" name="globe"></ion-icon>
        }@else{
        {{'proxy'|translate}}
        }
      </ion-col>
      }
      @if(authService.isAllowed('room.direct')){
      <ion-col size="2">
        @if(authService.isMD()){
        <ion-icon color="success" name="globe"></ion-icon>
        }@else{
        {{'direct'|translate}}
        }
      </ion-col>
      }
    </ion-row>
    <div class="button-container">
      @for(obj of rowData; track obj.id; let i = $index){
      <ion-row style="background-color : {{authService.rowColors[i%2]}}">
        <ion-col size="2">
          {{ obj.roomId | idToName:'room' }}
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" size="small" [color]="obj.login ? 'success' : 'danger'"
            (click)="toggleButton(obj,'login')">
            <ion-icon [name]="obj.login ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" size="small" [color]="obj.portal ? 'success' : 'danger'"
            (click)="toggleButton(obj,'portal')">
            <ion-icon [name]="obj.portal ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" size="small" [color]="obj.printing ? 'success' : 'danger'"
            (click)="toggleButton(obj,'printing')">
            <ion-icon [name]="obj.printing ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        @if(authService.isAllowed('system.proxy')){
        <ion-col size="2">
          <ion-button fill="clear" size="small" [color]="obj.proxy ? 'success' : 'danger'"
            (click)="toggleButton(obj,'proxy')">
            <ion-icon [name]="obj.proxy ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        }
        @if(authService.isAllowed('room.direct')){
        <ion-col size="2">
          <ion-button fill="clear" size="small" [color]="obj.direct ? 'success' : 'danger'"
            (click)="toggleButton(obj,'direct')">
            <ion-icon [name]="obj.direct ? 'checkmark-circle' : 'close-circle'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        }
      </ion-row>
      }
    </div>
  </ion-grid>
  }
</ion-content>