<cranix-toolbar title="{{ 'List of synchronized objects in the selected institute:' | translate}} {{institute.name}}">
</cranix-toolbar>
<ion-content id="carded">
  <ion-toolbar class="page-toolbar">
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="to" style="width: 300px">
      <ion-segment-button value="to">
        <ion-label>To</ion-label>
      </ion-segment-button>
      <ion-segment-button value="from">
        <ion-label>From</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button size="small" (click)="readMembers()" fill="solid" matTooltip="{{'Reload status' | translate }}">
        <ion-icon slot="icon-only" name="refresh-circle" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid style="height: 80vh;">
    <ion-row style="background-color : {{authService.rowColors[2]}}">
      <ion-col size="3">
        {{ 'objectType' | translate}}
      </ion-col>
      <ion-col size="3">
        {{ 'name' | translate}}
      </ion-col>
      <ion-col size="3">
        {{ 'lastSync' | translate}}
      </ion-col>
      <ion-col size="3">
      </ion-col>
    </ion-row>
    <div class="button-container">
      @for(obj of memberData; track obj.id; let i = $index){
      <ion-row style="background-color : {{authService.rowColors[i%2]}}">
        <ion-col size="3">
          {{ obj.objectType | translate }}
        </ion-col>
        <ion-col size="3">
          {{ obj.objectName | translate }}
        </ion-col>
        <ion-col size="3">
          {{ obj.lastSync}}
        </ion-col>
        <ion-col size="3">
          @if(segment == 'to'){
          @if(obj.cephalixId && obj.objectType != 'Job'){
          <ion-button fill="clear" size="small" (click)="syncObjectToInstitute(obj)"
            matTooltip="{{'Sync object from CEPHALIX to the CRANIX server.' | translate }}">
            <ion-icon name="arrow-forward-circle"></ion-icon>
          </ion-button>
          }
          }@else{
          @if(!obj.syncRunning){
          @if(obj.cephalixId){
          <ion-button fill="clear" size="small" (click)="syncHWconfFromInstitute(obj)"
            matTooltip="{{'Resync object from the CRANIX server to the CEPHALIX server.' | translate }}">
            <ion-icon name="refresh-circle"></ion-icon>
          </ion-button>
          }@else{
          <ion-button fill="clear" size="small" (click)="getHWconfFromInstitute(obj.cranixId)"
            matTooltip="{{ 'Get the object from the CRANIX server to the CEPHALIX server.' | translate }}">
            <ion-icon name="cloud-download"></ion-icon>
          </ion-button>
          }
          }
          }
          @if(obj.syncRunning){
          Syncing
          <ion-button fill="clear" size="small" (click)="stopSyncing(obj.id)"
            matTooltip="{{'Stop synchronisation process' | translate }}">
            <ion-icon color="danger" name="stop-circle-outline"></ion-icon>
          </ion-button>
          }
        </ion-col>
      </ion-row>
      }
    </div>
  </ion-grid>
</ion-content>