<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>{{ 'Select softwares to download' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="startDownload()">
        <ion-icon slot="icon-only" color="primary" name="cloud-download"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" (click)="closeWindow()">
        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <cranix-search-list objectType="package" [multiple]="true" [items]="objectService.packagesAvailable"
    [(ngModel)]="selected" [itemTextField]="['name', 'version']"></cranix-search-list>
</ion-content>