<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'Manage system acls of the selected object:' | translate}}<br>{{name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-item>
        <ion-searchbar placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged()"
            id="aclsFilter"></ion-searchbar>
    </ion-item>
    </ion-item>
    @for( acl of rowData; track acl){
    <ion-item>
      {{acl.acl}}
      @if(isAllowed(acl)){
      <ion-button slot="end" (click)=removeAcl(acl)>
        <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
      </ion-button>
      }@else{
      <ion-button slot="end" (click)=addAcl(acl)>
        <ion-icon slot="icon-only" name="add-circle" color="success"></ion-icon>
      </ion-button>
      }
    </ion-item>
    }
  </ion-list>
</ion-content>