<cranix-toolbar title="{{'Manage tickets' | translate}}"></cranix-toolbar>
@if(ticket){
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>#{{ticket.id}}, {{ticket.created | date:'yyyy-MM-dd HH:mm'}}, {{ticket.title}}</ion-card-title>
      <ion-toolbar>
        <ion-card-subtitle>
          {{ institute.name }}
          {{ institute.regCode }}
          {{ institute.ipVPN }}<br>
          {{ticket.email}}: {{ticket.lastname}},{{ticket.firstname}}
        </ion-card-subtitle>
        <ion-buttons slot="end">

          <ion-button fill="clear" (click)="router.navigate(['/pages/cephalix/tickets'])">
            <ion-icon slot="icon-only" name="caret-back"></ion-icon>
          </ion-button>
          @if(institute.ipVPN && institute.ipVPN != ''){
          <ion-button color="secondary" fill="clear" size="small" (click)="routeSchool($event)"
            matTooltip="{{'Connect the institute in a separate window.' | translate }}">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          }
          <ion-button fill="clear" (click)="openMergeTicket()">
            <ion-icon color="warning" slot="icon-only" name="git-merge"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="assigneTicketToMe()">
            <ion-icon color="warning" slot="icon-only" name="lock-closed"></ion-icon>
          </ion-button>
          <ion-button fill="clear" matTooltip="{{'Close the ticket.' | translate }}"
            (click)="objectService.deleteObjectDialog(this.ticket, 'ticket', '/pages/cephalix/tickets')">
            <ion-icon color="danger" slot="icon-only" name="checkmark-done-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content style="padding: 5px; padding-top: 0px;">
      <ion-grid style="padding: 0px;">
        <ion-row>
          <ion-col style="padding: 0px;">
            <ion-item lines="none">
              <ion-label position="stacked">{{'Ticket Owner'| translate}}</ion-label>
              <ionic-selectable #selectTicketCreator item-content [(ngModel)]="ticketCreator"
                [ngModelOptions]="{standalone: true}" [items]="workers" itemValueField="id" itemTextField="fullName"
                [canSearch]="true" (onChange)="setCreator()">
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-title>
                      {{ "Select the owner of the ticket" | translate }}
                    </ion-title>
                    <ion-buttons slot="end">
                      <ion-button ion-button (click)="selectTicketCreator.close()">
                        <ion-icon color="danger" name="close"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemIconTemplate>
                  <div></div>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col style="padding: 0px;">
            <ion-item lines="none">
              <ion-label position="stacked">{{'Institute'| translate}}</ion-label>
              <ionic-selectable #selectInstitute item-content [(ngModel)]="instObject"
                [ngModelOptions]="{standalone: true}" [items]="institutes" itemValueField="id" itemTextField="label"
                [canSearch]="true" (onChange)="setInstitute()">
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-title>
                      {{ "Select the institute of the ticket" | translate }}
                    </ion-title>
                    <ion-buttons slot="end">
                      <ion-button ion-button (click)="selectInstitute.close()">
                        <ion-icon color="danger" name="close"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemIconTemplate>
                  <div></div>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  @for(article of articles; track article.id){
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-subtitle [color]="article.articleType == 'O' ? 'warning' : article.seen ? 'success' : 'danger'">
          {{article.created | date:'yyyy-MM-dd HH:mm'}}
          @if(article.articleType == 'O'){
          <ion-icon name="play-back"></ion-icon>
          }@else{
          <ion-icon name="play-forward"></ion-icon>
          }
        </ion-card-subtitle>
        <ion-buttons slot="end">
          @for(picture of article.pictures; track picture){
          <ion-button size="small" fill="clear" target="_blank" [href]="picture">
            <ion-icon slot="icon-only" name="download"></ion-icon>
          </ion-button>
          }
          @if(article.articleType == 'O'){
          <ion-button [color]="article.seen ? 'success' : 'danger'" fill="clear" (click)="setSeenOnArticle(article)"
            matTooltip="{{'Set article as seen.' | translate }}">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="answerArticle(article)" matTooltip="{{'Answer the article.' | translate }}">
            <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
          </ion-button>
          }@else{
          <ion-button fill="clear" (click)="answerArticle(article)"
            matTooltip="{{'Edit the answer and resend it.' | translate }}">
            <ion-icon slot="icon-only" name="build-outline"></ion-icon>
          </ion-button>
          }
          <ion-button fill="clear" (click)="toggleArticle(article.id)"
            matTooltip="{{'Open or close the article.' | translate }}">
            @if(articleOpen[article.id]){
            <ion-icon slot="icon-only" name="mail"></ion-icon>
            }@else{
            <ion-icon slot="icon-only" name="mail-open"></ion-icon>
            }
          </ion-button>
          <ion-button fill="clear" (click)="deleteArticle(article)">
            <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content style="height: 50px; padding: 5px; padding-top: 0px;" [id]="'article' + article.id">
      @if(isHTML(article.text)){
      <div [innerHTML]="article.text"></div>
      }@else{
      <div [innerText]="article.text"></div>
      }
    </ion-card-content>
  </ion-card>
  }
</ion-content>
}
<ion-modal #mergeTicketModal [isOpen]="isOpenMergeTicketModal">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          {{'Search for ticket to merge'|translate}}
        </ion-title>
        <ion-buttons slot="end">
          <ion-button class="ion-no-margin" (click)="closeMergeTicket(mergeTicketModal)">
            <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-item>
        <ion-searchbar placeholder="{{'search' | translate }}" (input)="filterTickets()"
          id="crxSearchFilter"></ion-searchbar>
      </ion-item>
    </ion-header>
    <ion-content>
      <ion-list>
        <ul class="radiolist">
          @for(o of tickets; track o.id){
          <li>
            <input type="radio" (click)="presentMergeAlert(o,mergeTicketModal)" [id]="o.id" name="cranixSearchList">
            <label [for]="o.id">#{{o.id}} {{o.lastname}} {{o.firstname}} {{o.title}}</label>
          </li>
          }
        </ul>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
